<div class="flex-col pb-4" data-review-id="">
    <div class="flex items-center justify-between">
        <h3 id="name" class="text-base font-semibold"></h3>
        <button
            type="submit"
            class="deleteBtn p-2 border-2 text-red-500 border-black hover:bg-red-500 hover:text-white hover:border-black focus:outline-black transition-colors duration-200"
            onclick="deleteReview(this)"
        >
            Delete Review
        </button>
    </div>
    <div class="flex items-center pb-1 text-gray-700">
        <img class="inline-block h-[1em] w-auto pr-2" src="/assets/StarIconYellow.svg" />
        <span id="rating"></span>
    </div>
    <!-- Content divider -->
    <hr class="border-t-2 border-black" />
    <div class="flex-col pt-4">
        <h2 id="title"></h2>
        <p id="content" class="text-lg pt-4 pb-4"></p>
        <h4 id="date"></h4>
    </div>
</div>
