<div class="flex items-center justify-between">
    <div class="flex items-center space-x-3">
        <div
            id="avatar-placeholder"
            class="select-none cursor-default text-3xl w-12 h-12 rounded-full bg-gray-400 text-white flex items-center justify-center"
        ></div>
        <div>
            <p id="name" class="text-base font-semibold"></p>
            <div class="flex items-center text-sm text-gray-700">
                <img class="inline-block h-[1em] w-auto pr-2" src="/assets/StarIconYellow.svg" />
                <span id="rating"></span>
            </div>
        </div>
    </div>
</div>

<div id="tags" class="flex flex-wrap gap-2 mt-4"></div>
