<!-- <div class="max-w-3xl mx-auto mb-4 p-4 border-2 border-black"> -->
<div class="flex items-center justify-between">
    <div class="flex items-center space-x-3">
        <div id="avatar-placeholder"
            class="select-none cursor-default text-3xl w-12 h-12 rounded-full bg-gray-400 text-white flex items-center justify-center">
        </div>
        <div>
            <p id="name" class="text-base font-semibold"></p>
            <div class="flex items-center text-sm text-gray-700">
                <img class="inline-block h-[1em] w-auto pr-2" src="/assets/StarIconYellow.svg" />
                <span id="rating"></span>
            </div>
        </div>
    </div>
</div>

<!-- TODO: Add in dynamically -->
<div id="tags" class="flex flex-wrap gap-2 mt-4">
    <span class="px-3 py-1 text-sm bg-gray-100 text-gray-800 rounded-full"> No Contract </span>
    <span class="px-3 py-1 text-sm bg-gray-100 text-gray-800 rounded-full"> Pet Friendly </span>
    <span class="px-3 py-1 text-sm bg-gray-100 text-gray-800 rounded-full"> Nice </span>
    <span class="px-3 py-1 text-sm bg-gray-100 text-gray-800 rounded-full"> Test </span>
    <span class="px-3 py-1 text-sm bg-gray-100 text-gray-800 rounded-full"> Test </span>
</div>
<!-- </div> -->