<div class="flex-col pb-4">
    <h2 id="name" class="text-base font-semibold"></h2>
    <div class="flex items-center pb-1 text-sm text-gray-700">
        <img class="inline-block h-[1em] w-auto pr-2" src="/assets/StarIconYellow.svg" />
        <span id="rating"></span>
    </div>
    <!-- Content divider -->
    <hr class="border-t-2 border-black" />
    <div class="flex-col pt-4">
        <h2 id="title"></h2>
        <p id="content" class="text-lg pt-4 pb-4"></p>
        <h4 id="date"></h4>
    </div>
</div>
