<div class="bg-white p-6 w-full mx-auto max-w-3xl">
    <form action="/search" method="GET" class="w-full flex gap-2">
        <input
            type="text"
            name="query"
            autocomplete="off"
            placeholder="Landlord name"
            class="flex-grow p-2 border-2 focus:outline-0"
        />
        <button
            type="submit"
            class="p-2 border-2 hover:bg-black hover:text-white hover:border-black focus:outline-2 focus:outline-black transition-colors duration-200"
        >
            Search
        </button>
    </form>
</div>
