<form action="/search" method="GET" class="w-full flex border-2 divide-x-2">
    <input
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Landlord name"
        class="grow p-2 min-w-0 focus:outline-0"
    />
    <button
        type="submit"
        class="group flex-none p-2 flex gap-1 hover:bg-black hover:text-white hover:border-0 transition"
    >
        <img src="/assets/rml-search.svg" class="h-6 group-hover:invert transition" />
        <p>Search</p>
    </button>
</form>
