<section class="w-full max-w-xl mt-16 mx-auto px-main flex flex-col gap-12">
    <!-- TODO: Component-ize Method 1 and Method 2 sections of this page -->

    <h1>Add Landlord</h1>

    <p class="w-full">
        Fill out your landlord's basic information, such as their name, and contact information.
        RateMyLandlord will warn you for duplicates if they exist.
    </p>

    <form name="begin" action="/verify-landlord" method="get" class="w-full flex flex-col gap-6">
        <!-- ------------ NAME ------------ -->
        <div class="w-full">
            <p>Name</p>
            <div
                class="w-full flex flex-col md:flex-row border-2 divide-y-2 md:divide-y-0 md:divide-x-2"
            >
                <input
                    type="text"
                    name="fname"
                    id="fname"
                    placeholder="First name*"
                    class="w-full p-2 focus:outline-0"
                    required
                />
                <input
                    type="text"
                    name="lname"
                    id="lname"
                    placeholder="Last name*"
                    class="w-full p-2 focus:outline-0"
                    required
                />
            </div>
        </div>

        <!-- ------------ FACEBOOK PROFILE (OPTIONAL) ------------ -->
        <div class="w-full">
            <p>Facebook Profile (Optional)</p>
            <input
                type="text"
                name="facebook-link"
                id="facebook-link"
                placeholder="Copy & paste link"
                class="w-full p-2 border-2 focus:outline-0"
            />
        </div>

        <!-- ------------ EMAIL ADDRESSES ------------ -->
        <div>
            <p>Email Address(es)</p>
            <div id="email-fields" class="flex flex-col divide-y-2"></div>

            <button
                type="button"
                name="email-add"
                id="email-add"
                class="h-10 w-full mx-auto border-b-2 border-t-2 border-x-2 border-dashed border-gray-500"
            >
                <p class="text-gray-500">+</p>
            </button>
        </div>

        <!-- ------------ PHONE NUMBERS ------------ -->
        <div>
            <p>Phone Number(s)</p>
            <div id="phone-fields" class="flex flex-col divide-y-2"></div>

            <button
                type="button"
                name="phone-add"
                id="phone-add"
                class="h-10 w-full mx-auto border-b-2 border-t-2 border-x-2 border-dashed border-gray-500"
            >
                <p class="text-gray-500">+</p>
            </button>
        </div>

        <!-- ------------ SOCIAL LINKS ------------ -->
        <div>
            <p>Social Link(s)</p>
            <div id="social-fields" class="flex flex-col divide-y-2"></div>

            <button
                type="button"
                name="social-add"
                id="social-add"
                class="h-10 w-full mx-auto border-b-2 border-t-2 border-x-2 border-dashed border-gray-500"
            >
                <p class="text-gray-500">+</p>
            </button>
        </div>

        <!-- SUBMIT -->
        <button
            type="submit"
            class="p-2 border-2 hover:bg-black hover:text-white hover:border-black focus:outline-2 focus:outline-black transition-colors duration-200"
        >
            Add Landlord
        </button>
    </form>
</section>

<script type="module" src="/src/begin-review.js"></script>
