<section class="w-full max-w-xl mt-16 mx-auto px-main flex flex-col gap-12">
    <h1>Edit Landlord</h1>

    <p>
        Fill out your landlord's basic information, such as their name, and contact information.
        RateMyLandlord will warn you for duplicates if they exist.
    </p>

    <form name="editLandlord" action="/update-landlord" method="get">
        <input type="hidden" name="landlordId" value="" id="landlordIdField" />
        <fieldset class="mb-4">
            <legend>Name <span class="text-red-500">*</span></legend>
            <div class="border-2 divide-x-2 flex">
                <input type="text" name="firstName" placeholder="First name*" class="w-full p-2 focus:outline-0" />
                <input type="text" name="lastName" placeholder="Last name*" class="w-full p-2 focus:outline-0" />
            </div>
            <p class="hidden text-red-500" id="invalidName">
                Invalid name! Allowed characters: A-Z, a-z, (-)
            </p>
        </fieldset>

        <fieldset class="mb-4">
            <legend>Facebook Profile Link <span class="text-red-500">**</span></legend>
            <input type="text" name="facebookLink" placeholder="Copy & paste here"
                class="w-full p-2 border-2 focus:outline-0" />
            <p class="hidden text-red-500" id="invalidFacebook">Invalid Facebook Link!</p>
        </fieldset>

        <fieldset class="mb-4">
            <legend>Email Address <span class="text-red-500">**</span></legend>
            <input type="text" name="email" placeholder="Email address" class="w-full p-2 border-2 focus:outline-0" />
            <p class="hidden text-red-500" id="invalidEmail">
                Invalid email address(es)! Format must be person@domain.com
            </p>
        </fieldset>

        <!-- <fieldset class="mb-4">
            <legend>Phone Number(s) <span class="text-red-500">**</span></legend>
            <input
                type="text"
                name="phoneField0"
                placeholder="Phone Number"
                class="w-full p-2 focus:outline-0"
            />
            <button id="phoneAdd" type="button">+</button>
            <p class="hidden text-red-500" id="invalidPhone">
                Invalid phone number(s)! Must be a Canadian/US phone number
            </p>
        </fieldset> -->

        <p id="noIdentifierError" class="mb-4 text-gray-500 text-sm transition-all">
            ** At least one of these fields must be filled out
        </p>

        <button type="submit" class="w-full p-2 border-2 hover:bg-black hover:text-white hover:border-black transition">
            Save Landlord
        </button>
    </form>
</section>

<script type="module" src="/src/scripts/editLandlord.js"></script>