<!-- ---------------- Search Section ---------------- -->
<section
    class="w-full h-[calc(100svh-(--spacing(16)))] md:h-full md:py-16 px-main flex flex-col items-center justify-center gap-16"
    id="logo"
>
    <header class="flex gap-2">
        <img src="assets/rml-ico.svg" alt="" class="h-24 md:h-32 object-contain" />
        <img
            src="assets/ratemylandlord-text.png"
            alt=""
            class="h-24 md:h-32 w-full object-contain"
        />
    </header>
</section>

<!-- ---------------- Landing Page Section ---------------- -->
<div class="w-full px-main flex flex-col items-center gap-16">
    <!-- Find Landlords -->
    <section class="w-full max-w-4xl gap-8 flex flex-col md:flex-row md:items-center">
        <div class="size-full">
            <h3>Find Landlords</h3>

            <p>
                Looking for a reliable landlord? Browse reviews and ratings from other tenants to
                make an informed decision before renting your next home.
            </p>
        </div>

        <img src="assets/FindLandlords.png" alt="" class="size-full object-contain" />
    </section>

    <!-- Rate Landlords -->
    <section class="w-full max-w-4xl gap-8 flex flex-col md:flex-row-reverse md:items-center">
        <div class="size-full">
            <h3>Rate Landlords</h3>

            <p>
                Had an experience with a landlord? Share your insights and help future tenants find
                the best rental experience by leaving a review.
            </p>
        </div>

        <img src="assets/RateLandlord.png" alt="" class="size-full object-contain" />
    </section>
</div>
