<!-- ---------------- Search Section ---------------- -->
<section
    class="w-full h-svh md:h-full px-main py-nav flex flex-col items-center justify-center gap-16"
>
    <header class="flex gap-2">
        <img src="assets/rml-ico.svg" alt="" class="h-24 md:h-32 object-contain" />
        <img
            src="assets/ratemylandlord-text.png"
            alt=""
            class="h-24 md:h-32 w-full object-contain"
        />
    </header>

    <div>
        <form action="/search" method="GET" class="flex">
            <input
                type="text"
                name="query"
                autocomplete="off"
                placeholder="Search..."
                class="flex-1 p-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <button type="submit" class="p-2 bg-blue-500 text-white rounded-r-md hover:bg-blue-600">
                Search
            </button>
        </form>
    </div>
</section>

<!-- ---------------- Landing Page Section ---------------- -->
<div class="w-full max-w-4xl px-main flex flex-col gap-16 mb-nav">
    <!-- Find Landlords -->
    <section class="w-full gap-8 flex flex-col md:flex-row md:items-center">
        <div class="size-full">
            <h3>Find Landlords</h3>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic voluptatem magni
                quaerat eaque nostrum unde ducimus facere maxime doloribus at quae, neque quidem
                obcaecati. Impedit optio voluptate molestiae quam explicabo.
            </p>
        </div>

        <img src="assets/FindLandlords.png" alt="" class="size-full object-contain" />
    </section>

    <!-- Rate Landlords -->
    <section class="w-full gap-8 flex flex-col md:flex-row-reverse md:items-center">
        <div class="size-full">
            <h3>Rate Landlords</h3>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic voluptatem magni
                quaerat eaque nostrum unde ducimus facere maxime doloribus at quae, neque quidem
                obcaecati. Impedit optio voluptate molestiae quam explicabo.
            </p>
        </div>

        <img src="assets/RateLandlord.png" alt="" class="size-full object-contain" />
    </section>

    <!-- Search Landlords -->
    <section class="w-full gap-8 flex flex-col md:flex-row md:items-center">
        <div class="size-full">
            <h3>Search Landlords</h3>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic voluptatem magni
                quaerat eaque nostrum unde ducimus facere maxime doloribus at quae, neque quidem
                obcaecati. Impedit optio voluptate molestiae quam explicabo.
            </p>
        </div>

        <img src="assets/SearchFilters.png" alt="" class="size-full object-contain" />
    </section>
</div>
