<section class="w-full max-w-4xl mt-16 px-main mx-auto flex flex-col gap-8">
    <!-- LANDLORD NAME, RATING, AND WRITE REVIEW BUTTON -->

    <header class="flex flex-col items-center gap-2">
        <div class="size-24 bg-gray-300 rounded-full border-2"></div>
        <h1 id="landlord-name">John Doe</h1>
        <h3 class="flex gap-2">
            <img class="h-8" src="/assets/StarIconActive.svg" alt="" />
            <span id="landlord-rating">4.0</span>
        </h3>
    </header>

    <div class="w-full flex justify-center gap-2">
        <a
            id="review-button"
            class="w-full p-2 border-2 flex items-center justify-center gap-2"
            href=""
        >
            <img src="/assets/rml-review.svg" alt="" class="h-6" />
            <span>Write Review</span>
        </a>
        <a
            href=""
            id="edit-button"
            class="w-full p-2 border-2 flex items-center justify-center gap-2"
        >
            <img src="/assets/Account.svg" alt="" class="h-6" />
            <span>Edit Landlord</span>
        </a>
    </div>

    <div class="flex flex-col md:flex-row gap-8 md:gap-0">
        <div class="w-full">
            <!-- Contacts -->

            <section class="w-full not-last:mb-4">
                <h6 class="text-gray-500 uppercase">Email</h6>
                <p class="text-lg">email@domain.com</p>
            </section>

            <section class="w-full not-last:mb-4">
                <h6 class="text-gray-500 uppercase">Phone</h6>
                <p class="text-lg">778 123 4567</p>
            </section>
        </div>

        <div class="w-full flex flex-col gap-4">
            <!-- Ratings -->

            <section>
                <h5>Landlord Ratings</h5>

                <div class="w-full flex items-center justify-between">
                    <p class="text-xl">Behavior</p>
                    <span class="flex items-center gap-1">
                        <img src="/assets/StarIconActive.svg" alt="" class="h-4" />
                        <span class="text-xl" id="behavior">1.0</span>
                    </span>
                </div>

                <div class="w-full flex items-center justify-between">
                    <p class="text-xl">Rules</p>
                    <span class="flex items-center gap-1">
                        <img src="/assets/StarIconActive.svg" alt="" class="h-4" />
                        <span class="text-xl" id="behavior">1.0</span>
                    </span>
                </div>
            </section>

            <section>
                <h5>Listing Ratings</h5>

                <div class="w-full flex items-center justify-between">
                    <p class="text-xl">Quality</p>
                    <span class="flex items-center gap-1">
                        <img src="/assets/StarIconActive.svg" alt="" class="h-4" />
                        <span class="text-xl" id="behavior">1.0</span>
                    </span>
                </div>

                <div class="w-full flex items-center justify-between">
                    <p class="text-xl">Rent</p>
                    <span class="flex items-center gap-1">
                        <img src="/assets/StarIconActive.svg" alt="" class="h-4" />
                        <span class="text-xl" id="behavior">1.0</span>
                    </span>
                </div>

                <div class="w-full flex items-center justify-between">
                    <p class="text-xl">Amenities</p>
                    <span class="flex items-center gap-1">
                        <img src="/assets/StarIconActive.svg" alt="" class="h-4" />
                        <span class="text-xl" id="behavior">1.0</span>
                    </span>
                </div>
            </section>
        </div>
    </div>

    <!-- REVIEWS -->

    <section id="reviews">
        <!--  -->
    </section>
</section>
