<section id="landlordNull" class="hidden w-full max-w-3xl mt-16 px-main mx-auto">
    <h1>Landlord does not exist</h1>
</section>

<section id="landlordExists" class="w-full max-w-3xl mt-16 px-main mx-auto flex flex-col gap-8">
    <!-- Landlord Name & Rating -->
    <header class="flex flex-col items-center gap-2">
        <h1><span id="firstName"></span> <span id="lastName"></span></h1>
        <div class="flex items-center gap-3">
            <img class="h-8" src="/assets/StarIconActive.svg" alt="" />
            <h2 id="ratingOverall"></h2>
            <h5 class="text-gray-500 uppercase">(Overall)</h5>
        </div>
    </header>

    <!-- Contacts -->
    <div id="landlordContacts" class="mx-auto text-center">
        <div>
            <a id="marketplaceLink" href="" class="hidden text-teal-500 underline">test</a>
        </div>

        <div class="flex flex-col">
            <a id="email" href="" class="hidden text-teal-500 underline">email@domain.com</a>
        </div>
    </div>

    <!-- Action Buttons -->
    <nav id="landlordButtons" class="w-full flex gap-2">
        <!-- Edit Landlord -->
        <a href="" id="editButton" class="w-full p-2 border-2 flex items-center justify-center gap-2">
            <img src="/assets/Account.svg" alt="" class="h-6" />
            <span>Edit Landlord</span>
        </a>

        <!-- Review Landlord -->
        <a id="reviewButton" class="w-full p-2 border-2 flex items-center justify-center gap-2" href="">
            <img src="/assets/rml-review.svg" alt="" class="h-6" />
            <span>Write Review</span>
        </a>
    </nav>

    <!-- Ratings -->
    <table>
        <tbody class="border-2 divide-y-2">
            <!-- Landlord Behavior -->
            <tr class="flex md:divide-x-2">
                <td class="w-full p-2">
                    <h5>Landlord Behavior</h5>
                    <p class="text-sm">
                        At the highest rating, the landlord is nice and non-threatening.
                    </p>
                </td>
                <td class="md:w-full not-md:flex-none pl-2 pr-4 md:pr-2 py-2 flex items-center justify-center">
                    <h3 class="flex items-center gap-2">
                        <img src="/assets/StarIconActive.svg" alt="" class="h-6" />
                        <span id="ratingBehavior"></span>
                    </h3>
                </td>
            </tr>

            <!-- Strictness -->
            <tr class="flex md:divide-x-2">
                <td class="w-full p-2">
                    <h5>Strictness</h5>
                    <p class="text-sm">
                        At the highest rating, the landlord is lenient or flexible with the needs of
                        their tenants.
                    </p>
                </td>
                <td class="md:w-full not-md:flex-none pl-2 pr-4 md:pr-2 py-2 flex items-center justify-center">
                    <h3 class="flex items-center gap-2">
                        <img src="/assets/StarIconActive.svg" alt="" class="h-6" />
                        <span id="ratingRules"></span>
                    </h3>
                </td>
            </tr>

            <!-- Listing Quality -->
            <tr class="flex md:divide-x-2">
                <td class="w-full p-2">
                    <h5>Listing Quality</h5>
                    <p class="text-sm">
                        At the highest rating, the landlord's listings/properties are clean, has
                        adequate utilities, and amenities that benefit their tenants.
                    </p>
                </td>
                <td class="md:w-full not-md:flex-none pl-2 pr-4 md:pr-2 py-2 flex items-center justify-center">
                    <h3 class="flex items-center gap-2">
                        <img src="/assets/StarIconActive.svg" alt="" class="h-6" />
                        <span id="ratingQuality"></span>
                    </h3>
                </td>
            </tr>

            <!-- Listing Rent -->
            <tr class="flex md:divide-x-2">
                <td class="w-full p-2">
                    <h5>Rent Price</h5>
                    <p class="text-sm">
                        At the highest rating, the requested rents are cheap, or make sense.
                    </p>
                </td>
                <td class="md:w-full not-md:flex-none pl-2 pr-4 md:pr-2 py-2 flex items-center justify-center">
                    <h3 class="flex items-center gap-2">
                        <img src="/assets/StarIconActive.svg" alt="" class="h-6" />
                        <span id="ratingRent"></span>
                    </h3>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Facebook Link -->

    <!-- Reviews -->
    <section id="reviews" class="w-full flex flex-col gap-8"></section>
</section>

<script type="module" src="/src/scripts/landlord.js"></script>