<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.js"></script>
<link
    type="text/css"
    rel="stylesheet"
    href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css"
/> -->

<section>
    <div class="container">
        <h1>Let's Login!</h1>
    </div>
    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>
</section>

<script type="module" src="/src/firebaseAPI_BBY14.js"></script>
<script type="module" src="/src/authentication.js"></script>
