<section id="landlord-exists" class="w-full max-w-xl px-main mt-16 mx-auto flex flex-col gap-12">
    <h1>Review <span id="landlord-name">Landlord</span></h1>

    <form name="review" action="/submitted" class="flex flex-col gap-8" method="get">
        <!-- LISTING INFORMATION -->

        <!-- OVERALL RATING -->
        <section id="overall"></section>

        <!-- ---------------- LANDLORD ---------------- -->
        <div class="flex flex-col gap-4 mb-4">
            <h5 class="w-full pb-1 mb-1 border-b-2 text-gray-500">Landlord</h5>
            <!-- BEHAVIOR RATING -->
            <section id="behavior"></section>
            <!-- HOUSE RULES -->
            <section id="rules"></section>
        </div>

        <!-- ---------------- LISTING ---------------- -->
        <div class="flex flex-col gap-4 mb-4">
            <h5 class="w-full pb-1 mb-1 border-b-2 text-gray-500">Listing</h5>
            <!-- QUALITY -->
            <section id="quality"></section>
            <!-- RENT -->
            <section id="rent"></section>
            <!-- AMENITIES -->
            <section id="amenities"></section>

            <!-- LISTING LOCATION -->
            <div>
                <h5 class="uppercase text-gray-500">
                    Listing postal code <span class="text-red-500">*</span>
                </h5>
                <input
                    type="text"
                    name="listing-postal"
                    id="listing-postal"
                    class="p-2 border-2 w-full"
                    placeholder="Postal code"
                />
            </div>

            <div>
                <h5 class="uppercase text-gray-500">Listing address</h5>
                <input
                    type="text"
                    name="listing-address"
                    id="listing-address"
                    class="p-2 border-2 w-full"
                    placeholder="Street address (if provided in listing)"
                />
            </div>

            <div class="flex items-center justify-between">
                <h5 class="uppercase text-gray-500">
                    Number of bedrooms <span class="text-red-500">*</span>
                </h5>
                <input
                    class="p-2 border-2 max-w-24"
                    type="number"
                    name="listing-bedrooms"
                    id="listing-bedrooms"
                    min="1"
                    value="1"
                />
            </div>

            <div class="flex items-center justify-between">
                <h5 class="uppercase text-gray-500">
                    Number of bathrooms <span class="text-red-500">*</span>
                </h5>
                <input
                    class="p-2 border-2 max-w-24"
                    type="number"
                    name="listing-bathrooms"
                    id="listing-bathrooms"
                    min="0"
                    value="1"
                />
            </div>
        </div>

        <section id="title">
            <h3 class="text-gray-500 uppercase mb-2">Title <span class="text-red-500">*</span></h3>
            <input
                type="text"
                name="title-text"
                id="title-text"
                class="p-2 border-2 w-full"
                placeholder="Give a short subject description of your review"
            />
        </section>
        <section id="written">
            <h3 class="text-gray-500 uppercase mb-2">
                Written review <span class="text-red-500">*</span>
            </h3>
            <textarea
                name="written-text"
                id="written-text"
                class="p-2 border-2 w-full min-h-64 resize-y"
                placeholder="Write your review here"
            ></textarea>
        </section>

        <button class="p-2 border-2" type="submit">Submit Review</button>
    </form>
</section>

<section id="landlord-null" class="w-full max-w-xl px-main mt-16 mx-auto flex flex-col gap-12">
    <h1>Landlord does not exist</h1>
    <!-- Buttons to ask user to add new landlord, or continue searching. -->
</section>

<script type="module" src="/src/review.js"></script>
