<!-- Fixed search bar at the top -->
<div class="fixed bg-white z-50">
    <div class="p-4">
        <form action="/search" method="GET" class="flex">
            <input
                type="text"
                name="query"
                autocomplete="off"
                placeholder="Search..."
                class="flex-1 p-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <button type="submit" class="p-2 bg-blue-500 text-white rounded-r-md hover:bg-blue-600">
                Search
            </button>
        </form>
    </div>
</div>

<div id="card-container" class="pt-24 w-full"></div>
