<!-- Fixed search bar at the top -->
<div class="bg-white">
    <div class="p-4">
        <form action="/search" method="GET" class="flex gap-2">
            <input
                type="text"
                name="query"
                autocomplete="off"
                placeholder="Landlord name"
                class="w-full p-2 border-2 focus:outline-0"
            />
            <button
                type="submit"
                class="p-2 border-2 hover:bg-black hover:text-white hover:border-black focus:outline-2 focus:outline-black transition-colors duration-200"
            >
                Search
            </button>
        </form>
    </div>
</div>

<div id="card-container" class="pt-24 w-full text-center">No landlords found...</div>
