<section class="w-full max-w-xl mt-16 mx-auto px-main flex flex-col gap-12">
    <!--  -->

    <h1>Add <span id="landlordName">Landlord</span>?</h1>

    <!-- Landlord's Information -->
    <table>
        <tbody class="border-2 divide-y-2">
            <tr class="flex">
                <th class="w-full max-w-44 text-left p-2">Facebook Link</th>
                <td class="w-full p-2">None</td>
            </tr>
            <tr class="flex">
                <th class="w-full max-w-44 text-left p-2">Email Address(es)</th>
                <td class="w-full p-2">
                    <a>Email address</a>
                </td>
            </tr>
            <tr class="flex">
                <th class="w-full max-w-44 text-left p-2">Phone Number(s)</th>
                <td class="w-full p-2">
                    <a>Phone number</a>
                </td>
            </tr>
            <tr class="flex">
                <th class="w-full max-w-44 text-left p-2">Social Link(s)</th>
                <td class="w-full p-2">
                    <a>Link</a>
                </td>
            </tr>
        </tbody>
    </table>

    <section>
        <h4 class="text-gray-500 mb-2 pb-2 border-b-2">Possible Duplicates</h4>
        <div id="landlordDuplicates">
            <!-- Possible Landlord's Duplicates -->
        </div>
    </section>

    <div class="flex border-2 divide-x-2">
        <button
            type="button"
            id="edit-landlord"
            class="w-full p-2 hover:bg-black hover:text-white hover:border-black transition"
        >
            Edit Landlord
        </button>

        <button
            type="button"
            id="review-landlord"
            class="w-full p-2 hover:bg-black hover:text-white hover:border-black transition"
        >
            Add & Review Landlord
        </button>
    </div>
</section>
